
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru"> <!--<![endif]-->
<head>
  <title>BOOKSHOP</title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!--meta( http-equiv="cache-control" content="no-cache")-->
  <!--meta( http-equiv="expires" content="0")-->
  <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
  <link rel="shortcut icon" href="favicon.ico" >
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/fonts.min.css?v=52263780">
  <link rel="stylesheet" href="/assets/css/basic.min.css?v=52263780">
  <link rel="stylesheet" href="/assets/css/extra.min.css?v=52263780"><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script defer src="/assets/js/scripts.min.js?v=52263780"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/genre.counter.js"></script>
</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headerFragment}"></header>

  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <h1 class="Middle-title" th:text="#{topbar.genres}">Жанры
        </h1>
        <div class="Section">
          <div class="Tags Tags_genres">
            <div class="Tags Tags_embed">
              <div class="Tags-title">
                <div class="Tag"><a href="/genres" class = "a-genre"  id = 1 th:text="#{g.eas}">Лёгкое чтение<span class="undefined-amount">(15638)</span></a>
                </div>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 6 th:text="#{g.fic}">Фантастика<span class="undefined-amount">(44333)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 7 th:text="#{g.mil}">Боевики<span class="undefined-amount">(158)</span></a>
              </div>
              <div class="Tags">
                <div class="Tags-title">
                  <div class="Tag"><a href="/genres" class = "a-genre" id = 5 th:text="#{g.det}">Детективы<span class="undefined-amount">(10)</span></a>
                  </div>
                </div>
                <div class="Tag"><a href="/genres" class = "a-genre" id = 54 th:text="#{g.thr}">Триллер<span class="undefined-amount">(134)</span></a>
                </div>
                <div class="Tag"><a href="/genres" class = "a-genre" id = 55 th:text="#{g.tou}">Крутой детектив<span class="undefined-amount">(934)</span></a>
                </div>
                <div class="Tag"><a href="/genres" class = "a-genre" id = 56 th:text="#{g.iro}">Иронический детектив<span class="undefined-amount">(143443)</span></a>
                </div>
                <div class="Tag"><a href="/genres" class = "a-genre" id = 57 th:text="#{g.on}">Про маньяков<span class="undefined-amount">(3331)</span></a>
                </div>
                <div class="Tag"><a href="/genres" class = "a-genre" id = 58 th:text="#{g.spy}">Шпионский детектив<span class="undefined-amount">(94)</span></a>
                </div>
                <div class="Tag"><a href="/genres" class = "a-genre" id = 59 th:text="#{g.cri}">Криминальный детектив<span class="undefined-amount">(4839)</span></a>
                </div>
                <div class="Tag"><a href="/genres" class = "a-genre" id = 60 th:text="#{g.cla}">Классический детектив<span class="undefined-amount">(4488)</span></a>
                </div>
                <div class="Tag"><a href="/genres" class = "a-genre" id = 61 th:text="#{g.pol}">Политический детектив<span class="undefined-amount">(1)</span></a>
                </div>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 8 th:text="#{g.fan}">Фэнтези<span class="undefined-amount">(14338)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 9 th:text="#{g.rom}">Романы<span class="undefined-amount">(1438)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 10 th:text="#{g.hor}">Ужасы<span class="undefined-amount">(156)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 11 th:text="#{g.adv}">Приключения<span class="undefined-amount">(1538)</span></a>
              </div>
            </div>
            <div class="Tags">
              <div class="Tags-title">
                <div class="Tag"><a href="/genres" class = "a-genre" id = 2 th:text="#{g.ser}">Серьёзное чтение<span class="undefined-amount">(18)</span></a>
                </div>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 12 th:text="#{g.bio}">Биографии<span class="undefined-amount">(18)</span></a>
              </div>
            </div>
            <div class="Tags">
              <div class="Tags-title">
                <div class="Tag"><a href="/genres" class = "a-genre" id = 3 th:text="#{g.bus}">Деловая литература<span class="undefined-amount">(158)</span></a>
                </div>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 13 th:text="#{g.busth}">Деловая литература<span class="undefined-amount">(138)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 14 th:text="#{g.eco}">Управление экономикой<span class="undefined-amount">(158)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 15 th:text="#{g.car}">Карьера<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 16 th:text="#{g.mar}">Маркетинг, PR, реклама<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 17 th:text="#{g.fin}">Финансы<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 18 th:text="#{g.busgui}">Бизнес-справочники<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 19 th:text="#{g.per}">Личные финансы<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 20 th:text="#{g.man}">Менеджмент<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 21 th:text="#{g.for}">Зарубежная деловая литература<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 22 th:text="#{g.pereff}">Личная эффективность<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 23 th:text="#{g.tim}">Тайм-менеджмент<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 24 th:text="#{g.sma}">Малый бизнес<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 25 th:text="#{g.sal}">Продажи<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 26 th:text="#{g.sta}">Стартапы и создание бизнеса<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 27 th:text="#{g.cor}">Корпоративная культура<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 28 th:text="#{g.ban}">Банковское дело<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 29 th:text="#{g.log}">Логистика<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 30 th:text="#{g.rea}">Недвижимость<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 31 th:text="#{g.int}">Интернет-бизнес<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 32 th:text="#{g.ora}">Ораторское искусство / риторика<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 33 th:text="#{g.cli}">Привлечение клиентов и лояльность<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 34 th:text="#{g.off}">Делопроизводство<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 35 th:text="#{g.neg}">Переговоры<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 36 th:text="#{g.pub}">Государственное и муниципальное управление, политическое управление<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 37 th:text="#{g.busispop}">О бизнесе популярно<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 38 th:text="#{g.sec}">Ценные бумаги / инвестиции<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 39 th:text="#{g.acc}">Бухучет / налогообложение / аудит<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 40 th:text="#{g.rus}">Российская практика<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 41 th:text="#{g.suc}">Истории успеха<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 42 th:text="#{g.intmarket}">Интернет-маркетинг<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 43 th:text="#{g.lea}">Лидерство<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 44 th:text="#{g.pro}">Проектный менеджмент<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 45 th:text="#{g.qua}">Управление качеством<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 46 th:text="#{g.finmanag}">Финансовый менеджмент<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 47 th:text="#{g.permanag}">Управление персоналом<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 48 th:text="#{g.busproc}">Бизнес-процессы<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 49 th:text="#{g.busmanag}">Управление бизнесом<span class="undefined-amount">(15638)</span></a>
              </div>
            </div>
            <div class="Tags">
              <div class="Tags-title">
                <div class="Tag"><a href="/genres" class = "a-genre" id = 4 th:text="#{g.dra}">Драматургия<span class="undefined-amount">(15638)</span></a>
                </div>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 50 th:text="#{g.ant}">Античная драма<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 51 th:text="#{g.com}">Комедия<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 52 th:text="#{g.sce}">Сценарий<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres" class = "a-genre" id = 53 th:text="#{g.drapl}">Драма, пьеса<span class="undefined-amount">(15638)</span></a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>

  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
  <!--+menu(-->
  <!--    'Это раз',-->
  <!--    'Это два',-->
  <!--    'Это три'-->
  <!--)-->
  <!--br-->
  <!--br-->
  <!--+menu._vt-->
  <!--    +menuItem Это раз-->
  <!--    +menuItem.-item_danger Это два-->
  <!--    +menuItem Это три-->
</body></html>